<div class="container">
  <div class="input-group">
    <input
      type="search"
      [(ngModel)]="title"
      class="form-control rounded"
      placeholder="By category name"
      aria-label="Search"
      aria-describedby="search-addon"
    />
  </div>
  
  <div class="row">
    <app-card
      *ngFor="let category of categories | showValInclusCh : title"  class="col-md-4" style="margin-bottom: 20px" appHighlightDirective
      [id]="category.id"
      [image]="category.image"
      [description]="category.description"
      [title]="category.title"
      [available]="category.available"
      (requested)="getRequest($event)"
    ></app-card>

    <router-outlet></router-outlet>

    <app-list-products> </app-list-products>
  </div>
</div>
