<div class="container">
    <div class="input-group">
        <input type="search" [(ngModel)]= "title" class="form-control rounded" placeholder="By category name" aria-label="Search" aria-describedby="search-addon" />
      </div>
    <div class="row" >
        <ng-container *ngFor="let category of categories | showValInclusCh : title">
            <div  class="col-md-4" style="margin-bottom: 20px;" appHighlightDirective>
            <!-- <div *ngIf="!title || category.title.toLowerCase().includes(title.toLowerCase())" class="col-md-4" style="margin-bottom: 20px;"> -->
                <img (click)="showDescription(category.description)" [src]="category.image" [alt]="category.title" class="img-fluid h-50 w-75">
                <h3>{{category.title | uppercase }}</h3>
                <button class="btn btn-primary" *ngIf="category.available" [routerLink]='["/products"]' [queryParams]="{id: category.id}"> 
                    voir produits 
                </button>
                <button [routerLink]="['details', category.id]">
                    voir détails
                </button>
                <span *ngIf="!category.available"> Catégorie non disponible </span>
            </div>
        </ng-container>
        <router-outlet></router-outlet>
    </div>
</div>